@import 'bootstrap/dist/css/bootstrap';

.navbar {
background-color: #c9f8a8 !important;
}

.navbar-brand {
font-size: 2rem;
}

h1 {
color: rgb(34, 165, 8);
}

.search-area{
    padding-top: 50px;
}

.no-right-padding{
padding-right: 0 !important;
}

.no-left-padding{
padding-left: 0 !important;
}

.results-block{
    display: block;
}